In [3]:
import pandas as pd

In [126]:
df = pd.read_csv('passenger_per_hour.csv', encoding='cp949')
df

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202012,1호선,동대문,692,9,12587,1683,7606,5503,11463,...,6199,7,960,1,0,0,0,0,0,20210103
1,202012,1호선,동묘앞,102,2,2777,773,3002,3546,4659,...,1364,1,539,0,0,0,0,0,0,20210103
2,202012,1호선,서울역,581,11,8010,5042,9302,25859,27028,...,3737,15,326,4,4,0,1,0,0,20210103
3,202012,1호선,시청,24,0,1636,3392,2466,16596,5216,...,649,3,31,0,0,0,0,0,0,20210103
4,202012,1호선,신설동,316,8,7809,2427,6994,7428,13904,...,2710,2,229,0,0,0,0,0,0,20210103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41694,201501,중앙선,운길산,0,0,177,56,642,403,1292,...,633,3,222,0,0,0,0,0,0,20151223
41695,201501,중앙선,원덕,1,0,292,4,415,46,537,...,383,3,157,0,0,0,0,0,0,20151223
41696,201501,중앙선,중랑,14,1,4929,424,8539,2084,22160,...,6501,86,1617,0,0,0,0,0,0,20151223
41697,201501,중앙선,팔당,0,0,161,50,368,149,1227,...,336,8,85,0,0,0,0,0,0,20151223
41698,201501,중앙선,회기,436,3,10929,3067,23317,10430,65043,...,35702,767,9314,0,0,0,0,0,0,20151223

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41699 entries, 0 to 41698
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           41699 non-null  int64
 1   호선명           41699 non-null  object
 2   지하철역          41699 non-null  object
 3   04시-05시 승차인원  41699 non-null  int64
 4   04시-05시 하차인원  41699 non-null  int64
 5   05시-06시 승차인원  41699 non-null  int64
 6   05시-06시 하차인원  41699 non-null  int64
 7   06시-07시 승차인원  41699 non-null  int64
 8   06시-07시 하차인원  41699 non-null  int64
 9   07시-08시 승차인원  41699 non-null  int64
 10  07시-08시 하차인원  41699 non-null  int64
 11  08시-09시 승차인원  41699 non-null  int64
 12  08시-09시 하차인원  41699 non-null  int64
 13  09시-10시 승차인원  41699 non-null  int64
 14  09시-10시 하차인원  41699 non-null  int64
 15  10시-11시 승차인원  41699 non-null  int64
 16  10시-11시 하차인원  41699 non-null  int64
 17  11시-12시 승차인원  41699 non-null  int64
 18  11시-12시 하차인원  41699 non-null  int64
 19  12시-13시 승차인원  41699 non-null  int64
 20  12시-13시 하차인원  41699 non-null  int64
 21  13시-14시 승차인원  41699 non-null  int64
 22  13시-14시 하차인원  41699 non-null  int64
 23  14시-15시 승차인원  41699 non-null  int64
 24  14시-15시 하차인원  41699 non-null  int64
 25  15시-16시 승차인원  41699 non-null  int64
 26  15시-16시 하차인원  41699 non-null  int64
 27  16시-17시 승차인원  41699 non-null  int64
 28  16시-17시 하차인원  41699 non-null  int64
 29  17시-18시 승차인원  41699 non-null  int64
 30  17시-18시 하차인원  41699 non-null  int64
 31  18시-19시 승차인원  41699 non-null  int64
 32  18시-19시 하차인원  41699 non-null  int64
 33  19시-20시 승차인원  41699 non-null  int64
 34  19시-20시 하차인원  41699 non-null  int64
 35  20시-21시 승차인원  41699 non-null  int64
 36  20시-21시 하차인원  41699 non-null  int64
 37  21시-22시 승차인원  41699 non-null  int64
 38  21시-22시 하차인원  41699 non-null  int64
 39  22시-23시 승차인원  41699 non-null  int64
 40  22시-23시 하차인원  41699 non-null  int64
 41  23시-24시 승차인원  41699 non-null  int64
 42  23시-24시 하차인원  41699 non-null  int64
 43  00시-01시 승차인원  41699 non-null  int64
 44  00시-01시 하차인원  41699 non-null  int64
 45  01시-02시 승차인원  41699 non-null  int64
 46  01시-02시 하차인원  41699 non-null  int64
 47  02시-03시 승차인원  41699 non-null  int64
 48  02시-03시 하차인원  41699 non-null  int64
 49  03시-04시 승차인원  41699 non-null  int64
 50  03시-04시 하차인원  41699 non-null  int64
 51  작업일자          41699 non-null  int64
dtypes: int64(50), object(2)
memory usage: 16.5+ MB

In [35]:
len(df[(df['사용월']==202012)& (df['호선명']=='6호선')])

39

In [38]:
df[(df['사용월']==202012)& (df['호선명']=='6호선')]

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
173,202012,6호선,고려대(종암),6,1,2811,670,6019,3198,16071,...,2627,0,63,0,0,0,0,0,0,20210103
174,202012,6호선,공덕,112,1,3846,1881,6262,7855,15565,...,2671,11,762,0,0,0,0,0,0,20210103
175,202012,6호선,광흥창(서강),2,0,2393,1073,5575,3961,13599,...,1823,1,55,0,0,0,0,0,0,20210103
176,202012,6호선,구산,3,0,4131,185,9060,1860,22765,...,1672,1,194,0,0,0,0,0,0,20210103
177,202012,6호선,녹사평(용산구청),18,0,778,351,1537,3636,3668,...,903,0,87,0,0,0,0,0,0,20210103
178,202012,6호선,대흥(서강대앞),5,0,1776,703,4168,3686,10312,...,1949,8,72,0,0,0,0,0,0,20210103
179,202012,6호선,독바위,0,0,1484,170,3979,800,11291,...,1556,0,97,0,0,0,0,0,0,20210103
180,202012,6호선,돌곶이,9,0,5335,572,10230,2958,25777,...,2871,0,207,0,0,0,0,0,0,20210103
181,202012,6호선,동묘앞,154,0,3869,562,3569,4209,7162,...,5073,2,530,0,0,0,0,0,0,20210103
182,202012,6호선,디지털미디어시티,128,0,4785,2603,10565,10877,33203,...,3361,24,540,0,0,0,0,0,0,20210103
183,202012,6호선,마포구청,13,9,5787,1415,10853,6370,29919,...,4355,0,13,0,0,0,0,0,0,20210103
184,202012,6호선,망원,0,0,4469,725,8522,3925,20321,...,4478,0,1,0,0,0,0,0,0,20210103
185,202012,6호선,버티고개,0,0,526,249,1555,1262,3672,...,695,0,37,0,0,0,0,0,0,20210103
186,202012,6호선,보문,8,0,2982,914,5914,2949,15443,...,2859,0,66,0,0,0,0,0,0,20210103
187,202012,6호선,봉화산(서울의료원),11,0,4236,997,12023,2255,39492,...,2983,0,250,0,0,0,0,0,0,20210103
188,202012,6호선,불광,30,0,1149,239,3001,2068,7944,...,1478,0,16,0,0,0,0,0,0,20210103
189,202012,6호선,삼각지,0,0,1059,656,2579,3798,5317,...,1240,2,88,0,0,0,0,0,0,20210103
190,202012,6호선,상수,3,0,842,498,2615,2362,6011,...,1695,0,45,0,0,0,0,0,0,20210103
191,202012,6호선,상월곡(한국과학기술연구원),22,0,4265,457,7451,1688,19162,...,2210,0,57,0,0,0,0,0,0,20210103
192,202012,6호선,새절(신사),0,0,7945,646,17049,4048,44980,...,4399,4,901,0,0,0,0,0,0,20210103
193,202012,6호선,석계,772,0,6750,1780,16272,4624,40602,...,4743,8,377,0,0,0,0,0,0,20210103
194,202012,6호선,신내,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20210103
195,202012,6호선,신당,191,0,7551,882,5396,5244,5830,...,7226,1,681,0,0,0,0,0,0,20210103
196,202012,6호선,안암(고대병원앞),26,0,1077,1045,2129,4518,6386,...,2168,0,184,0,0,0,0,0,0,20210103
197,202012,6호선,약수,0,0,1056,195,1570,1842,3714,...,613,2,56,0,0,0,0,0,0,20210103
198,202012,6호선,역촌,2,0,1566,192,4561,1873,12994,...,1956,0,1,0,0,0,0,0,0,20210103
199,202012,6호선,연신내,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20210103
200,202012,6호선,월곡(동덕여대),15,0,5307,747,10429,3404,30726,...,3496,1,78,0,0,0,0,0,0,20210103
201,202012,6호선,월드컵경기장(성산),3,0,995,762,1980,2354,6167,...,697,0,23,0,0,0,0,0,0,20210103
202,202012,6호선,응암,5,0,9797,1093,20612,4621,58908,...,6300,1,313,0,0,0,0,0,0,20210103
203,202012,6호선,이태원,2,0,1783,904,3501,6560,6803,...,1852,0,217,0,0,0,0,0,0,20210103
204,202012,6호선,증산(명지대앞),8,0,6722,626,12577,3567,31748,...,4011,0,508,0,0,0,0,0,0,20210103
205,202012,6호선,창신,0,0,1995,334,4117,1541,10979,...,1260,0,31,0,0,0,0,0,0,20210103
206,202012,6호선,청구,2,0,1433,469,2267,1728,5606,...,923,1,133,0,0,0,0,0,0,20210103
207,202012,6호선,태릉입구,6,0,3578,737,5972,2437,15072,...,2467,3,366,0,0,0,0,0,0,20210103
208,202012,6호선,한강진,2,0,416,623,1124,6268,2552,...,590,1,317,0,0,0,0,0,0,20210103
209,202012,6호선,합정,7,0,2875,942,4481,5536,10014,...,2896,1,26,0,0,0,0,0,0,20210103
210,202012,6호선,화랑대(서울여대입구),4,0,4766,775,16822,2630,48994,...,3518,0,299,0,0,0,0,0,0,20210103
211,202012,6호선,효창공원앞,1,0,2083,456,3762,3398,12186,...,1414,1,212,0,0,0,0,0,0,20210103

In [111]:
df = df[(df['사용월']==202012) & (df['지하철역']=='고려대(종암)')]

In [112]:
df

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
173,202012,6호선,고려대(종암),6,1,2811,670,6019,3198,16071,...,2627,0,63,0,0,0,0,0,0,20210103

In [127]:
f6_t10 = (df['06시-07시 승차인원'] + df['06시-07시 하차인원'] +  df['07시-08시 승차인원'] +  df['07시-08시 하차인원'] + df['08시-09시 승차인원'] +  df['08시-09시 하차인원'] + df['09시-10시 승차인원'] + df['09시-10시 하차인원'])/4

In [128]:
f6_t10

0         25024.50
1         15002.25
2        111150.00
3         72207.00
4         41062.50
           ...
41694      2647.25
41695       916.50
41696     22159.00
41697      2039.00
41698     91069.25
Length: 41699, dtype: float64

In [129]:
f10_t14 = (df['10시-11시 승차인원'] + df['10시-11시 하차인원'] + df['11시-12시 승차인원'] + df['11시-12시 하차인원'] + df['12시-13시 승차인원'] + df['12시-13시 하차인원'] +  df['13시-14시 승차인원'] +  df['13시-14시 하차인원'])/4

In [130]:
f10_t14

0        31739.25
1        32641.00
2        75784.50
3        31866.25
4        30427.25
           ...
41694     4156.50
41695     1232.00
41696    16816.50
41697     3182.75
41698    84782.50
Length: 41699, dtype: float64

In [131]:
f14_t18 = (df['14시-15시 승차인원'] + df['14시-15시 하차인원'] + df['15시-16시 승차인원'] + df['15시-16시 하차인원'] + df['16시-17시 승차인원'] + df['16시-17시 하차인원'] +  df['17시-18시 승차인원'] +  df['17시-18시 하차인원'])/4

In [132]:
f14_t18

0         35749.25
1         42440.00
2        102694.25
3         45816.50
4         39380.50
           ...
41694      5018.25
41695      1221.75
41696     19701.50
41697      3234.75
41698    102477.50
Length: 41699, dtype: float64

In [133]:
f18_t22 = (df['18시-19시 승차인원'] + df['18시-19시 하차인원'] + df['19시-20시 승차인원'] + df['19시-20시 하차인원'] + df['20시-21시 승차인원'] + df['20시-21시 하차인원'] +  df['21시-22시 승차인원'] +  df['21시-22시 하차인원'])/4

In [134]:
f18_t22

0         25071.75
1         13138.75
2        107911.50
3         58524.25
4         36655.50
           ...
41694      2446.00
41695       849.50
41696     22590.00
41697      1396.00
41698    107107.00
Length: 41699, dtype: float64

In [135]:
f22_t02 = (df['22시-23시 승차인원'] + df['22시-23시 하차인원'] + df['23시-24시 승차인원'] + df['23시-24시 하차인원'] + df['00시-01시 승차인원'] + df['00시-01시 하차인원'] +  df['01시-02시 승차인원'] +  df['01시-02시 하차인원'])/4

In [136]:
f22_t02

0         4760.75
1         1677.75
2         9021.50
3         3514.50
4         3287.50
           ...
41694      503.50
41695      240.25
41696     5986.25
41697      296.00
41698    36313.00
Length: 41699, dtype: float64

In [137]:
f02_t06 = (df['02시-03시 승차인원'] + df['02시-03시 하차인원'] + df['03시-04시 승차인원'] + df['03시-04시 하차인원'] +  df['04시-05시 승차인원'] +  df['04시-05시 하차인원'] + df['05시-06시 승차인원'] + df['05시-06시 하차인원'] )/4

In [138]:
f02_t06

0        3742.75
1         913.50
2        3411.25
3        1263.00
4        2640.00
          ...
41694      58.25
41695      74.25
41696    1342.00
41697      52.75
41698    3608.75
Length: 41699, dtype: float64

In [ ]:
#연산을 수행한 후, 배열을 만들어서 새로운 df를 만드는걸로

In [65]:
# #5시부터 10시 승하차 인원 계산
# list = []
# merge = pd.DataFrame({})
# for hour in range(5,8):
#     string = f'0{hour}시-0{hour+1}시 승차인원'
#     merge += df[string]
#     print(merge)
# for hour in range(9,10):
#     string = f'0{hour}시-{hour+1}시 승차인원'
#     merge += df[string]
# for hour in range(10,11):
#     string = f'{hour}시-{hour+1}시 승차인원'
#     merge += df[string]

Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []

In [139]:
import pandas as pd

# df = pd.read_csv('passenger_per_hour.csv', encoding='cp949')
modified_df = pd.DataFrame({
    'from6_to10'  : f6_t10,
    'from10_to14' : f10_t14,
    'from14_to18' : f14_t18,
    'from18_to22' : f18_t22,
    'from22_to02' : f22_t02,
    'from02_to06' : f02_t06
})

modified_df

,from6_to10,from10_to14,from14_to18,from18_to22,from22_to02,from02_to06
0,25024.50,31739.25,35749.25,25071.75,4760.75,3742.75
1,15002.25,32641.00,42440.00,13138.75,1677.75,913.50
2,111150.00,75784.50,102694.25,107911.50,9021.50,3411.25
3,72207.00,31866.25,45816.50,58524.25,3514.50,1263.00
4,41062.50,30427.25,39380.50,36655.50,3287.50,2640.00
...,...,...,...,...,...,...
41694,2647.25,4156.50,5018.25,2446.00,503.50,58.25
41695,916.50,1232.00,1221.75,849.50,240.25,74.25
41696,22159.00,16816.50,19701.50,22590.00,5986.25,1342.00
41697,2039.00,3182.75,3234.75,1396.00,296.00,52.75
41698,91069.25,84782.50,102477.50,107107.00,36313.00,3608.75