# Mount drive into colab

In [1]:
# from google.colab import drive

# drive.mount('/content/drive')

# Read CSV file with encoding 'cp949'

In [2]:
!pip install pandas

import pandas as pd

# df = pd.read_csv('/content/drive/MyDrive/Data_Science/FastCampus/Lecture/passenger_per_hour.csv', encoding='cp949')
# df = pd.read_csv('/content/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv', encoding = 'euc-kr') #: colab (without mount)
df = pd.read_csv('passenger_per_hour.csv', encoding='cp949')

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [3]:
df.info()    # understand a dataframe form

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41699 entries, 0 to 41698
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           41699 non-null  int64
 1   호선명           41699 non-null  object
 2   지하철역          41699 non-null  object
 3   04시-05시 승차인원  41699 non-null  int64
 4   04시-05시 하차인원  41699 non-null  int64
 5   05시-06시 승차인원  41699 non-null  int64
 6   05시-06시 하차인원  41699 non-null  int64
 7   06시-07시 승차인원  41699 non-null  int64
 8   06시-07시 하차인원  41699 non-null  int64
 9   07시-08시 승차인원  41699 non-null  int64
 10  07시-08시 하차인원  41699 non-null  int64
 11  08시-09시 승차인원  41699 non-null  int64
 12  08시-09시 하차인원  41699 non-null  int64
 13  09시-10시 승차인원  41699 non-null  int64
 14  09시-10시 하차인원  41699 non-null  int64
 15  10시-11시 승차인원  41699 non-null  int64
 16  10시-11시 하차인원  41699 non-null  int64
 17  11시-12시 승차인원  41699 non-null  int64
 18  11시-12시 하차인원  41699 non-null  int64
 19  12시-13시 승차인원  41699 non-null  int64
 20  12시-13시 하차인원  41699 non-null  int64
 21  13시-14시 승차인원  41699 non-null  int64
 22  13시-14시 하차인원  41699 non-null  int64
 23  14시-15시 승차인원  41699 non-null  int64
 24  14시-15시 하차인원  41699 non-null  int64
 25  15시-16시 승차인원  41699 non-null  int64
 26  15시-16시 하차인원  41699 non-null  int64
 27  16시-17시 승차인원  41699 non-null  int64
 28  16시-17시 하차인원  41699 non-null  int64
 29  17시-18시 승차인원  41699 non-null  int64
 30  17시-18시 하차인원  41699 non-null  int64
 31  18시-19시 승차인원  41699 non-null  int64
 32  18시-19시 하차인원  41699 non-null  int64
 33  19시-20시 승차인원  41699 non-null  int64
 34  19시-20시 하차인원  41699 non-null  int64
 35  20시-21시 승차인원  41699 non-null  int64
 36  20시-21시 하차인원  41699 non-null  int64
 37  21시-22시 승차인원  41699 non-null  int64
 38  21시-22시 하차인원  41699 non-null  int64
 39  22시-23시 승차인원  41699 non-null  int64
 40  22시-23시 하차인원  41699 non-null  int64
 41  23시-24시 승차인원  41699 non-null  int64
 42  23시-24시 하차인원  41699 non-null  int64
 43  00시-01시 승차인원  41699 non-null  int64
 44  00시-01시 하차인원  41699 non-null  int64
 45  01시-02시 승차인원  41699 non-null  int64
 46  01시-02시 하차인원  41699 non-null  int64
 47  02시-03시 승차인원  41699 non-null  int64
 48  02시-03시 하차인원  41699 non-null  int64
 49  03시-04시 승차인원  41699 non-null  int64
 50  03시-04시 하차인원  41699 non-null  int64
 51  작업일자          41699 non-null  int64
dtypes: int64(50), object(2)
memory usage: 16.5+ MB

# Preprocess a DataFrame

In [4]:
import pandas as pd

# raw_df = pd.read_csv('/content/drive/MyDrive/Data_Science/FastCampus/Lecture/passenger_per_hour.csv', encoding='cp949')  
# raw_df = pd.read_csv('/content/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv', encoding='euc-kr')# : colab (without mount)
raw_df = pd.read_csv('passenger_per_hour.csv', encoding='cp949')

# data preprocesing
sliced_df = raw_df[['사용월', '호선명', '지하철역']]
sliced_df.rename(columns = {'사용월':'months','호선명':'station_line','지하철역':'station_name'}, inplace=True)

# an 1hour step -> 4hours
f06_t10 = (raw_df['06시-07시 승차인원'] + raw_df['06시-07시 하차인원'] +  raw_df['07시-08시 승차인원'] +  raw_df['07시-08시 하차인원'] + raw_df['08시-09시 승차인원'] +  raw_df['08시-09시 하차인원'] + raw_df['09시-10시 승차인원'] + raw_df['09시-10시 하차인원'])/4
f10_t14 = (raw_df['10시-11시 승차인원'] + raw_df['10시-11시 하차인원'] + raw_df['11시-12시 승차인원'] + raw_df['11시-12시 하차인원'] + raw_df['12시-13시 승차인원'] + raw_df['12시-13시 하차인원'] + raw_df['13시-14시 승차인원'] + raw_df['13시-14시 하차인원'])/4
f14_t18 = (raw_df['14시-15시 승차인원'] + raw_df['14시-15시 하차인원'] + raw_df['15시-16시 승차인원'] + raw_df['15시-16시 하차인원'] + raw_df['16시-17시 승차인원'] + raw_df['16시-17시 하차인원'] + raw_df['17시-18시 승차인원'] + raw_df['17시-18시 하차인원'])/4
f18_t22 = (raw_df['18시-19시 승차인원'] + raw_df['18시-19시 하차인원'] + raw_df['19시-20시 승차인원'] + raw_df['19시-20시 하차인원'] + raw_df['20시-21시 승차인원'] + raw_df['20시-21시 하차인원'] + raw_df['21시-22시 승차인원'] + raw_df['21시-22시 하차인원'])/4
f22_t02 = (raw_df['22시-23시 승차인원'] + raw_df['22시-23시 하차인원'] + raw_df['23시-24시 승차인원'] + raw_df['23시-24시 하차인원'] + raw_df['00시-01시 승차인원'] + raw_df['00시-01시 하차인원'] + raw_df['01시-02시 승차인원'] + raw_df['01시-02시 하차인원'])/4
f02_t06 = (raw_df['02시-03시 승차인원'] + raw_df['02시-03시 하차인원'] + raw_df['03시-04시 승차인원'] + raw_df['03시-04시 하차인원'] + raw_df['04시-05시 승차인원'] + raw_df['04시-05시 하차인원'] + raw_df['05시-06시 승차인원'] + raw_df['05시-06시 하차인원'] )/4

preprocessed_df = pd.DataFrame({
    'from06_to10'  : f06_t10, # modified variable name
    'from10_to14' : f10_t14,
    'from14_to18' : f14_t18,
    'from18_to22' : f18_t22,
    'from22_to02' : f22_t02,
    'from02_to06' : f02_t06
})

temp_df = pd.concat([sliced_df, preprocessed_df], axis = 1)
scaled_df=temp_df[temp_df['months']==202012]
scaled_df.drop('months',axis = 1, inplace=True)
scaled_df

# scaled_df.to_csv('scaled_df.csv') # generate .csv file

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,station_line,station_name,from06_to10,from10_to14,from14_to18,from18_to22,from22_to02,from02_to06
0,1호선,동대문,25024.50,31739.25,35749.25,25071.75,4760.75,3742.75
1,1호선,동묘앞,15002.25,32641.00,42440.00,13138.75,1677.75,913.50
2,1호선,서울역,111150.00,75784.50,102694.25,107911.50,9021.50,3411.25
3,1호선,시청,72207.00,31866.25,45816.50,58524.25,3514.50,1263.00
4,1호선,신설동,41062.50,30427.25,39380.50,36655.50,3287.50,2640.00
...,...,...,...,...,...,...,...,...
598,중앙선,원덕,658.75,822.25,1009.75,471.00,74.00,72.50
599,중앙선,중랑,17107.00,10572.75,13938.00,15654.75,1849.25,1477.25
600,중앙선,지평,127.50,108.50,125.50,64.75,0.00,0.00
601,중앙선,팔당,2347.00,2456.75,2980.50,2095.75,243.00,57.50
602,중앙선,회기,62102.00,50163.50,64674.25,60807.25,9555.75,3068.50

# Eliminate redundant elements

In [5]:
s_name = []
info_list = []
for i in range(0,603):
    cell = scaled_df.iloc[i]['station_name']
    if cell not in s_name:
        s_name.append(cell)
        info_list.append(scaled_df.iloc[i])

passenger_df = pd.DataFrame(info_list)
passenger_df = passenger_df.reset_index(drop=True)
passenger_df.drop('station_name', axis=1, inplace=True)
passenger_df.drop('station_line', axis=1, inplace=True)
passenger_df

,from06_to10,from10_to14,from14_to18,from18_to22,from22_to02,from02_to06
0,25024.50,31739.25,35749.25,25071.75,4760.75,3742.75
1,15002.25,32641.00,42440.00,13138.75,1677.75,913.50
2,111150.00,75784.50,102694.25,107911.50,9021.50,3411.25
3,72207.00,31866.25,45816.50,58524.25,3514.50,1263.00
4,41062.50,30427.25,39380.50,36655.50,3287.50,2640.00
...,...,...,...,...,...,...
512,658.75,822.25,1009.75,471.00,74.00,72.50
513,17107.00,10572.75,13938.00,15654.75,1849.25,1477.25
514,127.50,108.50,125.50,64.75,0.00,0.00
515,2347.00,2456.75,2980.50,2095.75,243.00,57.50
516,62102.00,50163.50,64674.25,60807.25,9555.75,3068.50

# Merge

In [6]:
location_df = pd.read_csv('s_location_info_modify3.csv', encoding='cp949')
completed_df = pd.concat([location_df,passenger_df],axis=1)
completed_df

,station_name,Latitude,longitude,from06_to10,from10_to14,from14_to18,from18_to22,from22_to02,from02_to06
0,동대문,37.571284,127.008981,25024.50,31739.25,35749.25,25071.75,4760.75,3742.75
1,동묘앞,37.572995,127.015596,15002.25,32641.00,42440.00,13138.75,1677.75,913.50
2,서울역,37.556146,126.972324,111150.00,75784.50,102694.25,107911.50,9021.50,3411.25
3,시청,37.564484,126.976993,72207.00,31866.25,45816.50,58524.25,3514.50,1263.00
4,신설동,37.575833,127.023235,41062.50,30427.25,39380.50,36655.50,3287.50,2640.00
...,...,...,...,...,...,...,...,...,...
512,원덕,37.468766,127.546870,658.75,822.25,1009.75,471.00,74.00,72.50
513,중랑,37.594955,127.076318,17107.00,10572.75,13938.00,15654.75,1849.25,1477.25
514,지평,37.476638,127.629367,127.50,108.50,125.50,64.75,0.00,0.00
515,팔당,37.547343,127.243921,2347.00,2456.75,2980.50,2095.75,243.00,57.50
516,회기,37.589333,127.057303,62102.00,50163.50,64674.25,60807.25,9555.75,3068.50

# Save dataframe

In [7]:
completed_df.to_csv('preprocessed_dataset.csv',encoding="cp949")

In [8]:
preprocessed_df = pd.read_csv('preprocessed_dataset.csv',encoding="cp949")

In [9]:
preprocessed_df

,Unnamed: 0,station_name,Latitude,longitude,from06_to10,from10_to14,from14_to18,from18_to22,from22_to02,from02_to06
0,0,동대문,37.571284,127.008981,25024.50,31739.25,35749.25,25071.75,4760.75,3742.75
1,1,동묘앞,37.572995,127.015596,15002.25,32641.00,42440.00,13138.75,1677.75,913.50
2,2,서울역,37.556146,126.972324,111150.00,75784.50,102694.25,107911.50,9021.50,3411.25
3,3,시청,37.564484,126.976993,72207.00,31866.25,45816.50,58524.25,3514.50,1263.00
4,4,신설동,37.575833,127.023235,41062.50,30427.25,39380.50,36655.50,3287.50,2640.00
...,...,...,...,...,...,...,...,...,...,...
512,512,원덕,37.468766,127.546870,658.75,822.25,1009.75,471.00,74.00,72.50
513,513,중랑,37.594955,127.076318,17107.00,10572.75,13938.00,15654.75,1849.25,1477.25
514,514,지평,37.476638,127.629367,127.50,108.50,125.50,64.75,0.00,0.00
515,515,팔당,37.547343,127.243921,2347.00,2456.75,2980.50,2095.75,243.00,57.50
516,516,회기,37.589333,127.057303,62102.00,50163.50,64674.25,60807.25,9555.75,3068.50

# Function

### Sort stations in terms of the number of passengers (per 4hours time step) function

In [10]:
def quantize_station_passengers( df: pd.DataFrame, step_hours: str, ascending_bool: bool = False) -> list:
    passg = dict(df.groupby('station_name').sum()[step_hours])
    descend_passg = sorted(passg.items(),key=(lambda x:x[1]), reverse = not(ascending_bool))
    return descend_passg

In [11]:
quantize_station_passengers(completed_df, 'from06_to10') # Sort stations in terms of the number of passengers from 6 to 10

[('구로디지털단지', 210495.5),
 ('신림', 199834.5),
 ('강남', 199190.5),
 ('가산디지털단지', 180068.75),
 ('역삼', 170259.25),
 ('잠실', 165988.25),
 ('선릉', 155547.75),
 ('삼성', 152410.0),
 ('신도림', 133153.75),
 ('양재', 131936.0),
 ('서울대입구', 130214.5),
 ('을지로입구', 127781.25),
 ('성수', 127156.25),
 ('연신내', 112305.75),
 ('서울역', 111150.0),
 ('수유', 104851.25),
 ('광화문', 103756.75),
 ('여의도', 100293.5),
 ('쌍문', 98606.75),
 ('교대', 98196.0),
 ('종각', 98177.0),
 ('까치산', 95235.25),
 ('송내', 94478.25),
 ('학동', 93712.0),
 ('화곡', 93627.75),
 ('사당', 91632.25),
 ('금정', 91123.5),
 ('부천', 90936.0),
 ('압구정', 90772.25),
 ('홍대입구', 90723.75),
 ('영등포', 89398.25),
 ('역곡', 88822.25),
 ('신대방', 87763.25),
 ('남부터미널', 87116.0),
 ('인덕원', 82891.5),
 ('미아사거리', 82589.75),
 ('문정', 82301.75),
 ('낙성대', 81797.75),
 ('대림', 80978.5),
 ('강변', 80108.5),
 ('건대입구', 79245.75),
 ('수원', 78862.25),
 ('청담', 78351.75),
 ('용산', 77522.75),
 ('영등포구청', 77082.0),
 ('봉천', 76625.25),
 ('창동', 75944.25),
 ('야탑', 75910.5),
 ('신사', 75839.5),
 ('합정', 75226.5),
 ('구의', 74418.75),
 ('문래', 73860.0),
 ('신논현', 73501.75),
 ('범계', 73389.5),
 ('광명사거리', 73097.5),
 ('부평', 72339.0),
 ('시청', 72207.0),
 ('서초', 70575.0),
 ('뚝섬', 70301.25),
 ('혜화', 70086.0),
 ('개봉', 69855.5),
 ('노량진', 69849.25),
 ('논현', 69563.75),
 ('서대문', 68965.5),
 ('철산', 68717.75),
 ('을지로3가', 68160.25),
 ('신촌', 67887.0),
 ('독산', 67800.25),
 ('고속터미널', 67778.0),
 ('회현', 65735.75),
 ('강동', 65277.0),
 ('구파발', 65207.25),
 ('오목교', 64474.5),
 ('장한평', 64431.0),
 ('안양', 64425.5),
 ('암사', 64306.0),
 ('평촌', 64010.0),
 ('남구로', 63947.75),
 ('당산', 63925.0),
 ('길음', 63683.5),
 ('상계', 62777.0),
 ('가양', 62229.75),
 ('구로', 62130.0),
 ('회기', 62102.0),
 ('서현', 61354.5),
 ('삼송', 57188.75),
 ('응암', 56788.0),
 ('국회의사당', 56688.0),
 ('안국', 56642.0),
 ('강남구청', 56571.25),
 ('발산', 55564.5),
 ('하계', 55224.0),
 ('장지', 55065.0),
 ('신대방삼거리', 55049.5),
 ('답십리', 54725.0),
 ('염창', 54717.75),
 ('디지털미디어시티', 54632.5),
 ('상록수', 54595.0),
 ('사가정', 54278.0),
 ('상일동', 54211.25),
 ('상봉', 53889.0),
 ('총신대입구', 53683.5),
 ('경복궁', 53250.75),
 ('면목', 52963.25),
 ('목동', 52770.5),
 ('종로5가', 52770.25),
 ('홍제', 52603.75),
 ('주안', 52438.25),
 ('잠실새내', 51605.75),
 ('방배', 51476.75),
 ('노원', 51037.5),
 ('신정', 50781.75),
 ('녹번', 50686.5),
 ('불광', 50229.0),
 ('내방', 49547.75),
 ('명동', 48938.0),
 ('중계', 48719.25),
 ('성신여대입구', 48090.0),
 ('공덕', 47645.25),
 ('압구정로데오', 47624.75),
 ('의정부', 47346.5),
 ('미아', 47319.75),
 ('신중동', 47176.75),
 ('남한산성입구', 47130.75),
 ('청량리', 47098.0),
 ('산본', 47084.5),
 ('동암', 47037.0),
 ('마포', 46969.25),
 ('화정', 46626.5),
 ('정자', 46519.75),
 ('수서', 46474.25),
 ('중앙', 45270.0),
 ('대방', 45173.75),
 ('망포', 45054.5),
 ('봉은사', 44897.0),
 ('신용산', 44213.0),
 ('미사', 43688.75),
 ('태평', 43671.75),
 ('성균관대', 43662.75),
 ('상왕십리', 43637.25),
 ('잠실나루', 43312.5),
 ('마포구청', 43217.0),
 ('새절', 42670.25),
 ('아차산', 42616.75),
 ('구리', 42510.5),
 ('우장산', 42207.0),
 ('부평구청', 41898.0),
 ('이수', 41889.25),
 ('대화', 41691.5),
 ('마들', 41223.75),
 ('신설동', 41062.5),
 ('수락산', 40999.5),
 ('종로3가', 40948.75),
 ('천호', 40926.75),
 ('매봉', 40913.0),
 ('금천구청', 40501.5),
 ('을지로4가', 40426.0),
 ('춘의', 40150.25),
 ('당고개', 40148.75),
 ('미금', 40034.75),
 ('광나루', 39922.75),
 ('온수', 39554.25),
 ('신당', 39501.0),
 ('석계', 39487.25),
 ('회룡', 39486.0),
 ('신풍', 39356.25),
 ('부천시청', 39003.75),
 ('동인천', 38831.0),
 ('화랑대', 38796.0),
 ('병점', 38539.75),
 ('천왕', 38475.75),
 ('안산', 38274.25),
 ('제기동', 37795.5),
 ('오류동', 37371.25),
 ('명학', 37177.0),
 ('한티', 37033.75),
 ('한성대입구', 37028.25),
 ('중화', 36976.75),
 ('강동구청', 36909.75),
 ('남성', 36718.75),
 ('상동', 36412.0),
 ('수내', 36087.75),
 ('죽전', 35930.75),
 ('약수', 35749.5),
 ('망원', 35629.25),
 ('어린이대공원', 35611.75),
 ('숭실대입구', 35498.5),
 ('숙대입구', 35462.5),
 ('오리', 35461.5),
 ('충정로', 35277.5),
 ('원당', 35126.75),
 ('도봉산', 34873.25),
 ('군자', 34742.75),
 ('공릉', 34646.5),
 ('월곡', 34638.75),
 ('왕십리', 34428.0),
 ('수원시청', 34408.0),
 ('석수', 34310.5),
 ('단대오거리', 33989.25),
 ('중곡', 33949.0),
 ('보라매', 33675.75),
 ('등촌', 33545.5),
 ('도농', 33047.5),
 ('군포', 32942.5),
 ('증산', 32666.25),
 ('신정네거리', 32366.75),
 ('먹골', 32253.0),
 ('정부과천청사', 32085.0),
 ('상도', 31968.75),
 ('장승배기', 31719.5),
 ('복정', 31711.0),
 ('의왕', 31636.5),
 ('제물포', 31589.5),
 ('봉화산', 31448.25),
 ('마곡나루', 31249.0),
 ('남영', 31157.5),
 ('양천향교', 30554.25),
 ('이대', 30447.25),
 ('선정릉', 30252.0),
 ('언주', 30229.0),
 ('중앙보훈병원', 30177.75),
 ('소사', 29894.25),
 ('일산', 29776.75),
 ('중동', 29744.75),
 ('마곡', 29557.0),
 ('아현', 29533.25),
 ('굽은다리', 29374.75),
 ('영등포시장', 29357.25),
 ('원흥', 29279.75),
 ('일원', 29077.5),
 ('대청', 28595.0),
 ('굴포천', 28593.5),
 ('방학', 28509.75),
 ('정왕', 28452.0),
 ('양평', 28415.5),
 ('동대문역사문화공원', 28103.5),
 ('백석', 27742.5),
 ('고잔', 27694.5),
 ('평택', 27689.75),
 ('오산', 27665.25),
 ('선바위', 27662.75),
 ('돌곶이', 27628.25),
 ('여의나루', 27570.5),
 ('신이문', 27564.75),
 ('광흥창', 27258.25),
 ('대치', 27238.75),
 ('기흥', 27033.5),
 ('거여', 26926.25),
 ('부개', 26790.75),
 ('행당', 26514.25),
 ('경찰병원', 26276.0),
 ('까치울', 26136.0),
 ('서울숲', 26075.75),
 ('고덕', 26053.5),
 ('둔촌동', 25783.5),
 ('명일', 25743.75),
 ('오이도', 25703.5),
 ('검암', 25521.75),
 ('선유도', 25470.0),
 ('행신', 25318.5),
 ('한대앞', 25248.5),
 ('송파', 25216.25),
 ('광운대', 25187.25),
 ('동대문', 25024.5),
 ('화서', 25005.25),
 ('가락시장', 24984.25),
 ('동대입구', 24849.25),
 ('관악', 24465.25),
 ('옥수', 23917.75),
 ('양주', 23913.75),
 ('증미', 23792.0),
 ('금호', 23777.25),
 ('탄현', 23771.75),
 ('길동', 23589.5),
 ('주엽', 23556.5),
 ('안암', 23513.75),
 ('경기광주', 23380.75),
 ('고려대', 23325.25),
 ('보문', 23238.25),
 ('대흥', 23009.0),
 ('구산', 22868.25),
 ('석촌', 22723.75),
 ('산성', 22678.75),
 ('가천대', 22676.25),
 ('망우', 22524.25),
 ('애오개', 22316.25),
 ('뚝섬유원지', 22236.5),
 ('청라국제도시', 22223.75),
 ('백운', 22144.5),
 ('양천구청', 22069.5),
 ('백마', 21988.5),
 ('독립문', 21903.75),
 ('삼성중앙', 21734.75),
 ('이촌', 21595.5),
 ('용마산', 21565.0),
 ('방화', 21446.5),
 ('효창공원앞', 21435.75),
 ('망월사', 21327.25),
 ('한강진', 21193.75),
 ('당정', 21042.5),
 ('방이', 21040.0),
 ('오금', 20932.5),
 ('신방화', 20844.5),
 ('종합운동장', 20828.25),
 ('가능', 20775.75),
 ('이태원', 20731.25),
 ('한양대', 20681.25),
 ('상월곡', 20662.75),
 ('운정', 20567.5),
 ('구일', 20500.5),
 ('마두', 20451.0),
 ('흑석', 20443.25),
 ('개롱', 20341.5),
 ('마천', 20222.5),
 ('송정', 19797.5),
 ('영통', 19788.75),
 ('신금호', 19740.0),
 ('삼전', 19518.75),
 ('금촌', 19351.75),
 ('솔샘', 18886.0),
 ('덕정', 18595.5),
 ('몽촌토성', 18517.0),
 ('운서', 18420.25),
 ('월계', 18212.0),
 ('외대앞', 18064.0),
 ('지행', 18055.25),
 ('평내호평', 18025.0),
 ('마장', 17900.75),
 ('야당', 17882.5),
 ('반포', 17656.5),
 ('석촌고분', 17462.5),
 ('샛강', 17343.5),
 ('도봉', 17308.0),
 ('간석', 17305.0),
 ('북한산보국문', 17272.5),
 ('덕소', 17159.25),
 ('도곡', 17126.0),
 ('중랑', 17107.0),
 ('상수', 17088.0),
 ('개화산', 16729.75),
 ('하남풍산', 16664.75),
 ('초지', 16630.25),
 ('인하대', 16488.5),
 ('부천종합운동장', 16380.75),
 ('과천', 16337.0),
 ('상갈', 16312.0),
 ('가좌', 16307.0),
 ('태릉입구', 16286.0),
 ('풍산', 16217.0),
 ('삼산체육관', 16075.0),
 ('수진', 16005.0),
 ('서정리', 15894.75),
 ('정발산', 15723.25),
 ('인천논현', 15596.75),
 ('구성', 15382.0),
 ('대야미', 15120.0),
 ('동묘앞', 15002.25),
 ('신길', 14697.75),
 ('호구포', 14634.75),
 ('녹양', 14613.75),
 ('문산', 14574.75),
 ('삼각지', 14558.75),
 ('수리산', 14461.5),
 ('매탄권선', 14418.5),
 ('판교', 14401.5),
 ('녹천', 14391.25),
 ('김포공항', 14260.0),
 ('잠원', 13888.0),
 ('역촌', 13609.0),
 ('신갈', 13561.75),
 ('반월', 13540.25),
 ('금릉', 13504.25),
 ('신흥', 13292.5),
 ('청명', 13132.75),
 ('두정', 12962.25),
 ('인천공항1터미널', 12888.25),
 ('송파나루', 12876.5),
 ('원인재', 12828.75),
 ('연수', 12639.5),
 ('숭의', 12607.5),
 ('가오리', 12547.25),
 ('도화', 12497.5),
 ('사릉', 12496.0),
 ('정릉', 12492.5),
 ('노들', 12474.25),
 ('무악재', 12422.5),
 ('대모산입구', 12366.0),
 ('퇴계원', 12316.25),
 ('한남', 12304.5),
 ('공항화물청사', 12178.75),
 ('창신', 12145.25),
 ('마석', 12130.25),
 ('신목동', 12103.0),
 ('올림픽공원', 11830.25),
 ('능곡', 11769.0),
 ('녹사평', 11643.0),
 ('송탄', 11490.0),
 ('남동인더스파크', 11477.25),
 ('청구', 11449.0),
 ('고색', 11373.0),
 ('소래포구', 11139.5),
 ('지축', 10845.25),
 ('개포동', 10777.5),
 ('강매', 10569.25),
 ('갈매', 10377.75),
 ('화계', 10348.75),
 ('천안', 10317.0),
 ('사리', 10219.0),
 ('초월', 10194.25),
 ('세류', 10133.5),
 ('월드컵경기장', 10128.25),
 ('모란', 10046.75),
 ('독바위', 9817.0),
 ('덕계', 9703.0),
 ('동두천중앙', 9608.25),
 ('성환', 9555.5),
 ('오산대', 9311.75),
 ('광명', 9220.5),
 ('지제', 9154.5),
 ('매교', 9082.5),
 ('신반포', 9052.25),
 ('장암', 8982.0),
 ('별내', 8930.75),
 ('수색', 8924.75),
 ('도원', 8778.25),
 ('사평', 8763.5),
 ('온양온천', 8716.25),
 ('개화', 8483.75),
 ('도심', 8407.5),
 ('삼동', 8338.0),
 ('세마', 8190.75),
 ('공항시장', 7981.5),
 ('영종', 7977.25),
 ('북한산우이', 7829.75),
 ('인천공항2터미널', 7565.75),
 ('용답', 7528.0),
 ('4.19민주묘지', 7518.75),
 ('인천', 7487.0),
 ('동두천', 7260.25),
 ('월곶', 7239.0),
 ('보정', 7233.75),
 ('솔밭공원', 7217.5),
 ('송도', 7031.0),
 ('삼양사거리', 6934.5),
 ('이천', 6807.5),
 ('한성백제', 6684.5),
 ('용두', 6670.75),
 ('곤지암', 6656.0),
 ('구반포', 6649.0),
 ('월롱', 6622.5),
 ('동작', 6590.75),
 ('아산', 6556.75),
 ('버티고개', 6496.5),
 ('삼양', 6161.75),
 ('오목천', 6045.5),
 ('서빙고', 5945.25),
 ('신길온천', 5520.25),
 ('양원', 5511.75),
 ('학여울', 5488.5),
 ('진위', 5475.0),
 ('서강대', 5465.5),
 ('응봉', 5442.75),
 ('신답', 5437.0),
 ('대공원', 5365.75),
 ('구룡', 5343.0),
 ('서동탄', 5268.75),
 ('쌍용', 5247.75),
 ('부발', 5140.75),
 ('천마산', 5139.0),
 ('대곡', 5122.25),
 ('금곡', 4887.25),
 ('도림천', 4821.0),
 ('신포', 4629.75),
 ('화전', 4487.75),
 ('남춘천', 4377.5),
 ('보산', 4328.75),
 ('양수', 4236.75),
 ('여주', 4188.75),
 ('소요산', 4107.75),
 ('경마공원', 4101.25),
 ('봉명', 4022.25),
 ('둔촌오륜', 3753.5),
 ('신둔도예촌', 3667.5),
 ('가평', 3606.0),
 ('남태령', 3492.0),
 ('청평', 3408.0),
 ('파주', 3407.0),
 ('이매', 3300.25),
 ('용문', 3087.75),
 ('신창', 2628.75),
 ('양정', 2536.0),
 ('배방', 2500.5),
 ('직산', 2381.75),
 ('팔당', 2347.0),
 ('춘천', 2085.75),
 ('곡산', 1863.0),
 ('국수', 1725.75),
 ('운길산', 1584.5),
 ('어천', 1507.25),
 ('아신', 1310.0),
 ('대성리', 1049.75),
 ('오빈', 794.75),
 ('세종대왕릉', 754.0),
 ('강촌', 727.0),
 ('원덕', 658.75),
 ('상천', 641.5),
 ('김유정', 534.75),
 ('야목', 489.25),
 ('신원', 467.5),
 ('백양리', 304.5),
 ('달월', 232.0),
 ('굴봉산', 228.75),
 ('지평', 127.5),
 ('임진강', 13.0),
 ('계양', 0.25),
 ('충무로', 0.25),
 ('신내', 0.0)]

# Ref
select columns: http://hleecaster.com/python-pandas-selecting-data/

df.rename() : https://www.delftstack.com/ko/howto/python-pandas/how-to-rename-columns-in-pandas/