# Mount drive into colab

In [20]:
# from google.colab import drive

# drive.mount('/content/drive')

# Read CSV file with encoding 'cp949'

In [21]:
import pandas as pd

# df = pd.read_csv('/content/drive/MyDrive/Data_Science/FastCampus/Lecture/passenger_per_hour.csv', encoding='cp949')
df = pd.read_csv('passenger_per_hour.csv', encoding='cp949')

In [22]:
df.info()    # understand a dataframe form

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41699 entries, 0 to 41698
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           41699 non-null  int64
 1   호선명           41699 non-null  object
 2   지하철역          41699 non-null  object
 3   04시-05시 승차인원  41699 non-null  int64
 4   04시-05시 하차인원  41699 non-null  int64
 5   05시-06시 승차인원  41699 non-null  int64
 6   05시-06시 하차인원  41699 non-null  int64
 7   06시-07시 승차인원  41699 non-null  int64
 8   06시-07시 하차인원  41699 non-null  int64
 9   07시-08시 승차인원  41699 non-null  int64
 10  07시-08시 하차인원  41699 non-null  int64
 11  08시-09시 승차인원  41699 non-null  int64
 12  08시-09시 하차인원  41699 non-null  int64
 13  09시-10시 승차인원  41699 non-null  int64
 14  09시-10시 하차인원  41699 non-null  int64
 15  10시-11시 승차인원  41699 non-null  int64
 16  10시-11시 하차인원  41699 non-null  int64
 17  11시-12시 승차인원  41699 non-null  int64
 18  11시-12시 하차인원  41699 non-null  int64
 19  12시-13시 승차인원  41699 non-null  int64
 20  12시-13시 하차인원  41699 non-null  int64
 21  13시-14시 승차인원  41699 non-null  int64
 22  13시-14시 하차인원  41699 non-null  int64
 23  14시-15시 승차인원  41699 non-null  int64
 24  14시-15시 하차인원  41699 non-null  int64
 25  15시-16시 승차인원  41699 non-null  int64
 26  15시-16시 하차인원  41699 non-null  int64
 27  16시-17시 승차인원  41699 non-null  int64
 28  16시-17시 하차인원  41699 non-null  int64
 29  17시-18시 승차인원  41699 non-null  int64
 30  17시-18시 하차인원  41699 non-null  int64
 31  18시-19시 승차인원  41699 non-null  int64
 32  18시-19시 하차인원  41699 non-null  int64
 33  19시-20시 승차인원  41699 non-null  int64
 34  19시-20시 하차인원  41699 non-null  int64
 35  20시-21시 승차인원  41699 non-null  int64
 36  20시-21시 하차인원  41699 non-null  int64
 37  21시-22시 승차인원  41699 non-null  int64
 38  21시-22시 하차인원  41699 non-null  int64
 39  22시-23시 승차인원  41699 non-null  int64
 40  22시-23시 하차인원  41699 non-null  int64
 41  23시-24시 승차인원  41699 non-null  int64
 42  23시-24시 하차인원  41699 non-null  int64
 43  00시-01시 승차인원  41699 non-null  int64
 44  00시-01시 하차인원  41699 non-null  int64
 45  01시-02시 승차인원  41699 non-null  int64
 46  01시-02시 하차인원  41699 non-null  int64
 47  02시-03시 승차인원  41699 non-null  int64
 48  02시-03시 하차인원  41699 non-null  int64
 49  03시-04시 승차인원  41699 non-null  int64
 50  03시-04시 하차인원  41699 non-null  int64
 51  작업일자          41699 non-null  int64
dtypes: int64(50), object(2)
memory usage: 16.5+ MB

In [23]:
import pandas as pd

# raw_df = pd.read_csv('/content/drive/MyDrive/Data_Science/FastCampus/Lecture/passenger_per_hour.csv', encoding='cp949')  
raw_df = pd.read_csv('passenger_per_hour.csv', encoding='cp949')

# data preprocesing
sliced_df = raw_df[['사용월', '호선명', '지하철역']]
sliced_df.rename(columns = {'사용월':'months','호선명':'station_line','지하철역':'station_name'}, inplace=True)

# an 1hour step -> 4hours
f6_t10 = (raw_df['06시-07시 승차인원'] + raw_df['06시-07시 하차인원'] +  raw_df['07시-08시 승차인원'] +  raw_df['07시-08시 하차인원'] + raw_df['08시-09시 승차인원'] +  raw_df['08시-09시 하차인원'] + raw_df['09시-10시 승차인원'] + raw_df['09시-10시 하차인원'])/4
f10_t14 = (raw_df['10시-11시 승차인원'] + raw_df['10시-11시 하차인원'] + raw_df['11시-12시 승차인원'] + raw_df['11시-12시 하차인원'] + raw_df['12시-13시 승차인원'] + raw_df['12시-13시 하차인원'] + raw_df['13시-14시 승차인원'] + raw_df['13시-14시 하차인원'])/4
f14_t18 = (raw_df['14시-15시 승차인원'] + raw_df['14시-15시 하차인원'] + raw_df['15시-16시 승차인원'] + raw_df['15시-16시 하차인원'] + raw_df['16시-17시 승차인원'] + raw_df['16시-17시 하차인원'] + raw_df['17시-18시 승차인원'] + raw_df['17시-18시 하차인원'])/4
f18_t22 = (raw_df['18시-19시 승차인원'] + raw_df['18시-19시 하차인원'] + raw_df['19시-20시 승차인원'] + raw_df['19시-20시 하차인원'] + raw_df['20시-21시 승차인원'] + raw_df['20시-21시 하차인원'] + raw_df['21시-22시 승차인원'] + raw_df['21시-22시 하차인원'])/4
f22_t02 = (raw_df['22시-23시 승차인원'] + raw_df['22시-23시 하차인원'] + raw_df['23시-24시 승차인원'] + raw_df['23시-24시 하차인원'] + raw_df['00시-01시 승차인원'] + raw_df['00시-01시 하차인원'] + raw_df['01시-02시 승차인원'] + raw_df['01시-02시 하차인원'])/4
f02_t06 = (raw_df['02시-03시 승차인원'] + raw_df['02시-03시 하차인원'] + raw_df['03시-04시 승차인원'] + raw_df['03시-04시 하차인원'] + raw_df['04시-05시 승차인원'] + raw_df['04시-05시 하차인원'] + raw_df['05시-06시 승차인원'] + raw_df['05시-06시 하차인원'] )/4

preprocessed_df = pd.DataFrame({
    'from6_to10'  : f6_t10,
    'from10_to14' : f10_t14,
    'from14_to18' : f14_t18,
    'from18_to22' : f18_t22,
    'from22_to02' : f22_t02,
    'from02_to06' : f02_t06
})

temp_df = pd.concat([sliced_df, preprocessed_df], axis = 1)
scaled_df=temp_df[(temp_df['months']>=202001) & (temp_df['months']<=202012)]
scaled_df

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,months,station_line,station_name,from6_to10,from10_to14,from14_to18,from18_to22,from22_to02,from02_to06
0,202012,1호선,동대문,25024.50,31739.25,35749.25,25071.75,4760.75,3742.75
1,202012,1호선,동묘앞,15002.25,32641.00,42440.00,13138.75,1677.75,913.50
2,202012,1호선,서울역,111150.00,75784.50,102694.25,107911.50,9021.50,3411.25
3,202012,1호선,시청,72207.00,31866.25,45816.50,58524.25,3514.50,1263.00
4,202012,1호선,신설동,41062.50,30427.25,39380.50,36655.50,3287.50,2640.00
...,...,...,...,...,...,...,...,...,...
7191,202001,중앙선,원덕,1148.50,1463.50,1550.25,980.75,249.75,83.00
7192,202001,중앙선,중랑,20211.50,15583.50,18831.75,19751.25,4826.25,1427.50
7193,202001,중앙선,지평,160.50,178.75,221.00,82.00,0.00,0.00
7194,202001,중앙선,팔당,2382.25,3268.25,3747.25,2781.50,506.50,67.50
7195,202001,중앙선,회기,77993.00,74523.25,92380.00,89935.75,29999.75,3747.50

# Ref
select columns: http://hleecaster.com/python-pandas-selecting-data/

df.rename() : https://www.delftstack.com/ko/howto/python-pandas/how-to-rename-columns-in-pandas/